.winter-hero {
  font-family: var(--main-family);
}

.section-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.winter-product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* <-- fixed 3 columns */
  gap: 50px;
  padding: 50px 0;
}

.layout-winter {
  display: flex;
  gap: 20px;
}

.sidebar-winter {
  flex: 0 0 400px;
  padding: 50px;
}

/* Responsive: stack sidebar and product grid on small screens */
@media (max-width: 768px) {
  .layout-winter {
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }

  .winter-hero.products {
    width: 100%;
  }

  .sidebar-winter {
    flex: 0;
    padding: 15px;
  }

  .winter-product-grid {
    grid-template-columns: repeat(1, 1fr); /* 2 columns on small screens */
    gap: 20px;
    padding: 5px;
  }

}
