

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.swiper {
  margin-top: 15px;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}

.banner-swiper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
